
@{
    ViewBag.Title = "VerifyEmail";
    Layout = "~/Views/UserMailer/_Layout.cshtml";
}

<h2>Customer Enquiry for Konquest Kreations</h2>
 @ViewBag.Name <br /> 
 @ViewBag.Message <br />
 @ViewBag.Email <br />
 @ViewBag.Phone <br />

