
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
        @*<p>An error has occurred. Please contact your system administrator or Refresh the Page <a href="http://konquestkreations.com/Home/Index">Home</a></p>*@
    <p>An error has occurred. Please contact your system administrator or Refresh the Page <a href="http://localhost:46575/Home/Index">Home</a></p>

</body>
</html>
